{% extends 'base.html' %}

{% block title %}
    Создание
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-md-2">
            <form method="post" action="">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="post_title" class="form-label">Название:</label>
                    <input type="text" class="form-control" id="post_title" name="post_title" required>
                </div>
                <button type="submit" class="btn btn-success">Создать</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
