<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-md-2">
            {% block body %}
                <div class="card mb-4">
                    <div class="card-body d-flex justify-content-between">
                        <div>
                            <h5 class="card-title">название</h5>
                            <p class="card-text">статус</p>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Запуск</label>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
</div>
